<section class="products-show">

  <header class="page-header">
     <h1>Jungle<h1>
  </header>

  <div> In our store we have three categories Apparel ,      Electronics and Furniture and our products are unique and high quality  
  </div>
  
</section>